body {
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
}

/*  Sidebar   */

.sidebar {
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: 3.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.border-bottom { border-bottom: 2px groove #121e22 !important; }

.sidebar .nav-link { font-weight: 500;color: #fff; }

.sidebar .nav-link:hover { border-left: 5px groove #f44336 !important; }

.current{ color: #f44336 !important; }

.current:hover{ border-left: 5px groove #fff !important; }

.sidebar .nav-link i { margin-right: 4px; }

.list-group-item {
    padding: 5px 20px 5px 40px;
    margin-bottom: 0 !important;
    background-color: transparent;
    border: 0 !important;
}
.list-group-item-action {
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 11px;
}
.list-group-item-action:hover {
    border-left: 5px solid #f44336 !important;
    color: #fff !important;
    background: transparent;
    border-radius: 0 !important;
}

/*  Navbar   */

.navbar-brand {
    font-family: Broadway;
    font-size: 25px ;
    color: #f44336;
}

.search-input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff !important;
    transition: all .4s;
}

.search-input:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
}

.search-button {
    border-radius: 50%;
    padding: 5px 10px;
    background-color: #eee;
}

.search-button:hover { transform: translateY(-1px) ;}

/*
 * Utilities
 */

.border_top { border-top: 1px solid #e5e5e5; }
.border_bottom { border-bottom: 1px solid #e5e5e5; width: 80%}

.category-card{
    background-color: #c0cdd8 !important;
}

/*  products page navbar style  */
.background{
    background-color: #5e6df2 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.search_field{
    background-color: white;
    border-radius: 22px;
    margin: 2px 0;
}
.search_button{
    background: transparent;
    border: none;
    font-size: 17px;
    margin-left: 8px;
    margin-right: 8px;
}
.search_input{
    background: transparent;
    border: none;
    margin-right: 25px;
    width: 250px !important;
}
.search_input:hover{
    color: gray !important;
}
.search_input:focus{
    outline: none !important;
}
.search_input::placeholder {
    color: rgba(176, 182, 201, 0.74);
}
.search_input:hover::placeholder {
    color: rgba(156, 156, 156, 0.82) !important;
}

.product-title {
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
    color: #5e6df2;
}
.product-title strong{
    font-size: 15px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(51, 65, 81, 0.38) ;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .75s ease;
}

.ctr {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 27%;
}

.img-hover:hover .overlay{
    opacity: 1;
}


/* start cart page css */
.shopNow-btn {
    font-family: cursive;
    background-color: #f67900;
    color: #fff;
    padding: 8px 70px 8px 70px !important;
    font-size: 20px;
}
.shopNow-btn:hover {
    color: #fff;
    transform: translate3d(5px, 2px, 5px);
}
.cart-heading {
    font-family: cursive;
    color: #007bff;
    font-size: 50px;
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 30px;
}
.param {
    margin-bottom: 7px;
    line-height: 1.4;
}
.param-inline dt {
    display: inline-block;
}
.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}
.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
}

.shopping-cart-wrap .price {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}
span.price {
    font-style: normal;
}

.media img {
    margin-right: 1rem;
}
.img-sm {
    width: 90px;
    max-height: 75px;
    object-fit: cover;
}
/* ends cart page css */
